# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Environment variables
.env
.env.*

# Python packaging
*.egg-info/
dist/
build/

# Logs
*.log

# Machine Learning models
*.pkl
*.joblib

# Dataset files
data/raw/*
data/processed/*

# Node
node_modules/
.next/
out/

# Testing
.pytest_cache/
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db